*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}

section h2{
    margin-top: 50px;
    margin-bottom: 30px;
    color: black;
}

section p{
    width: 637px;
    height: 104px;
    text-align: center;


}

.icon-main-container{
    display: flex;
}

.icons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;

}

.icon-image{
    width: 94.2px;
    height: 65.36px;


}

.icon-header{
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-text{
    width: 207px;
    height: 52px;
    font-size: 14px;


}